In [3]:
for first_number in range(5): # 0-4
    for second_number in range(6): # 0-5
        print(first_number, second_number)

0 0
0 1
0 2
0 3
0 4
0 5
1 0
1 1
1 2
1 3
1 4
1 5
2 0
2 1
2 2
2 3
2 4
2 5
3 0
3 1
3 2
3 3
3 4
3 5
4 0
4 1
4 2
4 3
4 4
4 5

In [2]:
for i in range(2, 5): # 2,3,4
    for j in range(2, 6, 2): # 2,4
        print(i, j)

2 2
2 4
3 2
3 4
4 2
4 4

In [4]:
i = 2
while i < 5:
    for j in range(1,5,2):
        print(i, j)
        i += 1

2 1
3 3
4 1
5 3

In [5]:
for i in range(5):
    for j in range(1, i):
        print(i * j)

2
3
6
4
8
12

# string

In [ ]:
empty_string = ""
empty_string = ''
empty_string = """""" # multi-line string
empty_string = str()

s = """

# indexing

In [6]:
s = "Hello, world!"
s = "Bangkok, Thailand: 100C"
s[2]
s[-1]

'C'